[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
webuiapi = "*"
pillow = "*"
pyyaml = "*"
sentry-sdk = "*"
opentracing = "*"
deep-translator = "*"
diskcache = "*"
better-profanity = "*"
tensorflow = "*"
nsfw-detector = "*"
tqdm = "*"
protobuf = "==3.19.6"
pyairtable = "*"

[dev-packages]
black = "*"
autopep8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
